extends ../layout

block content
  .container
    p This has been developed during the World Port Hackathon 2013, organised by the Port of Rotterdam.
    p The team constisted of &nbsp;
      a(href="http://nl.linkedin.com/pub/jos-van-den-haspel/64/662/907") Jos van de Haspel
      | , &nbsp;
      a(href="http://nl.linkedin.com/pub/remco-tukker/66/9a/1a3") Remco Tukker
      | &nbsp; and &nbsp;
      a(href="http://http://www.linkedin.com/in/roemervlasveld") Roemer Vlasveld
      |. All currently working at &nbsp;
      a(href="http://www.almende.com") Almende B.V.